<div class="container">
    <ul class="volts">
        <li class="volt" ng-class="{ 'volt-in-use': volt.inUseBy }" ng-repeat="volt in volts" ng-click="hand(volt)">
            <span class="volt-id" ng-if="!volt.inUseBy">{{ volt.id }}</span>
            <span class="volt-used-by" ng-if="volt.inUseBy">{{ volt.inUseBy }}</span>

            <ul class="lights" ng-if="!volt.inUseBy">
                <li class="light light-is-blinking"></li>
                <li class="light"></li>
                <li class="light"></li>
                <li class="light"></li>
            </ul>

        </li>
    </ul>
</div>
