<div class="container">
    <ul class="volts">
        <a class="volt" ng-class="{ 'volt-in-use': volt.user }" ng-repeat="volt in volts" href="#/handout/{{ volt.id }}">
            <span class="volt-id" ng-if="!volt.user">{{ volt.id }}</span>
            <span class="volt-used-by" ng-if="volt.user">{{ volt.user.name }}</span>

            <ul class="lights" ng-if="!volt.user">
                <li class="light light-is-blinking"></li>
                <li class="light"></li>
                <li class="light"></li>
                <li class="light"></li>
            </ul>

        </a>
    </ul>
</div>
